@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "tailwindcss-animate";

/**
	|==============================================|
	| Fontfaces
	|==============================================|
*/

/* ─── MonaspaceKrypton @font-face ─── */
@font-face {
	font-family: "MonaspaceKrypton";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("/fonts/MonaspaceKrypton-Light.woff2") format("woff2");
}
@font-face {
	font-family: "MonaspaceKrypton";
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url("/fonts/MonaspaceKrypton-LightItalic.woff2") format("woff2");
}
@font-face {
	font-family: "MonaspaceKrypton";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/MonaspaceKrypton-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "MonaspaceKrypton";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/MonaspaceKrypton-Italic.woff2") format("woff2");
}
@font-face {
	font-family: "MonaspaceKrypton";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/fonts/MonaspaceKrypton-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "MonaspaceKrypton";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("/fonts/MonaspaceKrypton-MediumItalic.woff2") format("woff2");
}
@font-face {
	font-family: "MonaspaceKrypton";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/MonaspaceKrypton-SemiBold.woff2") format("woff2");
}
@font-face {
	font-family: "MonaspaceKrypton";
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/MonaspaceKrypton-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
	font-family: "MonaspaceKrypton";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/MonaspaceKrypton-Bold.woff2") format("woff2");
}
@font-face {
	font-family: "MonaspaceKrypton";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/MonaspaceKrypton-BoldItalic.woff2") format("woff2");
}

@theme {
	/**
        |==============================================|
        | Tailwind CSS Colors
        |==============================================|
    */

	--color-background: hsl(0 0% 0%);
	--color-muted-background: hsl(120 4% 10%);
	--color-foreground: hsl(120 100% 75%);
	--color-muted-foreground: var(--color-gray-500);

	--accent: hsl(216 34% 17%);
	--accent-foreground: hsl(210 40% 98%);

	--popover: 224 71% 4%;
	--popover-foreground: 215 20.2% 65.1%;

	--color-border: hsl(120 100% 20%);
	--color-input: hsl(216 34% 17%);

	--color-card: hsl(224 71% 4%);
	--color-card-foreground: hsl(213 31% 91%);

	--color-primary: hsl(210 40% 98%);
	--color-primary-foreground: hsl(222.2 47.4% 1.2%);

	--color-secondary: hsl(222.2 47.4% 11.2%);
	--color-secondary-foreground: hsl(210 40% 98%);

	--color-accent: hsl(240 60% 50%);
	--color-accent-foreground: hsl(210 40% 98%);

	--color-destructive: hsl(359 51% 48%);
	--color-destructive-foreground: hsl(210 40% 98%);

	--color-ring: hsl(216 34% 17%);

	/**
        |==============================================|
        | Tailwind CSS Modifiers
        |==============================================|
    */

	--radius: 0.5rem;
	--radius-xl: calc(var(--radius) + 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--container-2xl: 1400px;

	--font-sans: "MonaspaceKrypton", monospace;

	/**
        |==============================================|
        | Tailwind CSS Animations
        |==============================================|
    */

	--animate-quick-in: quick-fade-in 0.5s ease-out forwards;
	@keyframes quick-fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	--animate-caret-blink: caret-blink 1.25s ease-out infinite;
	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}

	--animate-terminal-open: terminal-open 0.2s ease-out forwards;
	@keyframes terminal-open {
		0% {
			transform: scaleX(0) scaleY(0);
			opacity: 0;
		}
		95% {
			transform: scaleX(1.1) scaleY(1.1);
			opacity: 1;
		}
		100% {
			transform: scaleX(1) scaleY(1);
			opacity: 1;
		}
	}

	--animate-flicker: flicker 0.34s infinite;
	--animate-flicker-text: flicker 0.085s infinite;
	@keyframes flicker {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0.9;
		}
	}

	--animate-glow: glow 1s ease-in-out infinite alternate;
	@keyframes glow {
		from {
			text-shadow: 0 0 8px var(--color-foreground);
		}
		to {
			text-shadow: 0 0 4px var(--color-foreground);
		}
	}

	--animate-typing: typing 0.75s steps(40) forwards;
	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: calc-size(auto, size);
		}
	}

	--animate-flash: flash 0.25s ease-out forwards;
	@keyframes flash {
		0% {
			opacity: 0;
			transform: scaleX(0) scaleY(0);
		}
		55% {
			opacity: 1;
			transform: scaleX(1) scaleY(0.02);
		}
		60% {
			opacity: 1;
			transform: scaleX(1) scaleY(0.05);
		}
		99% {
			opacity: 1;
		}
		100% {
			transform: scaleX(1) scaleY(1);
			opacity: 0;
		}
	}
}

@layer base {
	/**
		|----------------------------------------------|
		| Base Styles
		|----------------------------------------------|
	*/

	* {
		@apply border-border;
	}

	body {
		@apply min-h-screen bg-background text-foreground p-4;

		font-feature-settings: "rlig" 1, "calt" 1;
	}
}

@layer utilities {
	/**
        |----------------------------------------------|
        | Animations
        |----------------------------------------------|
    */

	.animate-crtv-flash {
		@apply animate-flash;

		position: fixed;
		inset: 0;
		background: white;
		pointer-events: none;
		z-index: 50;

		transform-origin: center;

		text-shadow: 0 0 8px var(--color-foreground);
	}

	.scanlines::after {
		content: "";
		position: fixed;
		inset: 0;
		background: repeating-linear-gradient(
			to bottom,
			transparent 0px,
			transparent 2px,
			rgba(0, 255, 0, 0.03) 5px
		);
		pointer-events: none;

		opacity: 0;
		@apply animate-quick-in;
	}

	.animate-typing-slow {
		@apply lg:animate-typing;
		animation-duration: 1s;

		overflow: hidden;
		white-space: nowrap;
	}

	.animate-typing-fast {
		@apply animate-typing;
		animation-duration: 0.25s;

		overflow: hidden;
		white-space: nowrap;
	}
}

@layer components {
	/**
        |----------------------------------------------|
        | Class Wrappers
        |----------------------------------------------|
    */

	.stack {
		@apply flex flex-col;
	}

	.horizontal-row {
		@apply flex flex-row flex-wrap items-center gap-2;
	}

	.stretched-row {
		@apply flex flex-row flex-wrap justify-between items-center gap-2;
	}

	.h4-muted {
		@apply text-sm text-muted-foreground;
	}

	.ascii-art {
		@apply text-[5px] md:text-[10px] lg:text-xs font-mono whitespace-pre m-2 mb-0 animate-glow;
	}
}

/**
	|----------------------------------------------|
	| Accessibility
	|----------------------------------------------|
*/

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}
