@import "tailwindcss";
@plugin '@tailwindcss/typography';

@layer base {
	/**
        |==============================================|
        | Tailwind CSS Variables
        |==============================================|
    */

	:root {
		--main-background: hsl(0 0% 0%);
		--main-muted-background: hsl(120 4% 10%);
		--main-color: hsl(120 100% 75%);
		--main-muted-color: hsl(120 4% 10%);
		--border-color: hsl(120 100% 20%);
	}

	/**
        |----------------------------------------------|
        | Animations
        |----------------------------------------------|
    */

	@keyframes flicker {
		0%,
		100% {
			opacity: 1;
		}
		80% {
			opacity: 0.7;
		}
		90% {
			opacity: 0.4;
		}
	}
	.flicker {
		animation: flicker 2s infinite;
	}

	/**
        |----------------------------------------------|
        | Custom Styles
        |----------------------------------------------|
    */

	.scanlines::after {
		content: "";
		position: fixed;
		inset: 0;
		background: repeating-linear-gradient(
			to bottom,
			transparent 0px,
			transparent 2px,
			rgba(0, 255, 0, 0.03) 5px
		);
		pointer-events: none;
	}

	/**
        |----------------------------------------------|
        | Base Styles
        |----------------------------------------------|
    */

	body {
		@apply min-h-screen bg-(--main-background) text-(--main-color);
	}
}
